---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Welcome to SmartFood, a website built for university students, by university students to take the guess work out of meal planning
Use this to share your meals, BUILD your meals, and reduce spending
start today! the kitchen is always open.
`;
---

<Layout title="Welcome to Astro.">
    <h1 class="mb-10">Netlify Platform Starter for Astro</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">test this button</a>
    </p>
</Layout>
